.App {
  text-align: center;
}





/* 
.content{
   height: 160px;
   color:#fff;
   line-height: 160px;
   text-align:center;
   background: '#364d79',
 } */
 /* .wround{
  border: 8px solid #fff;
  border-radius: 20px;
  margin: 20px 0px;
  cursor: pointer;
}; */